* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: darkgray;
}

/*header*//***********************************************/

header {
    background-color: black;
    color: white;
    position: relative;
    height: 60px;
}


nav li {
    display: inline-block;
    width: 100px;
    font-size: 16px;
    text-align: center;
}

/*main*//***********************************************/





/*footer*//***********************************************/