* {
    margin: 0;
    padding: 0;
}

.container {
    width: 980px;
    height: 1386px;
    background-color: white;
}

/*header*//***********************************************/

.header_top {
    width: 892px;
    height: 61px;
    border-bottom: 2px #938e8c solid;
    margin: 0 auto;
    position: relative;
}

.header_bg {
    width: 110px;
    height: 61px;
    background-color: #d45d5c;
}

.site {
    font-size: 12px;
    font-family: sans-serif;
    color: #ffffff;
    position: absolute;
    margin-left: 5px;
    bottom: 5px;
}

.date {
    font-size: 12px;
    font-family: sans-serif;
    color: #d45d5c;
    position: absolute;
    right: 0;
    bottom: 5px;
}

/*main-top*//***********************************************/
.top {
    width: 892px;
    margin: 20px auto;
}

.top_left {
    width: 641px;
    float: left;
}

.middle {
    width: 641px;
    margin-top: 30px;
    margin-bottom: 60px;
    position: relative;
}

.text1 {
    width: 30%;
    float: left;
}

.text3 {
    width: 30%;
    float: right;
}

.text2 {
    width: 30%;
    margin: 0 218px;
}

main h3 {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    color: #d45d5c;
    margin-bottom: 3px;
}

.middle p, .bottom p {
    font-family: Arial;
    font-size: 12px;
    line-height: 16px;
    text-align: justify;
    padding: 8px 0;
}

/*Top-aside*//***********************************************/

aside {
    width: 228px;
    border-top: 2px #cc8091 solid;
    float: right;
    padding-top: 5px;
}

.aside_title {
    font-family: sans-serif;
    font-size: 24px;
    color: #11456b;
    padding-top: 5px;
}

.aside_img {
    padding: 5px;
    width: 180px;
    height: 250px;
    margin: 5px auto;
}

.aside_img img {
    width: 100%;
}

.aside_table {
    margin: 0 auto;
    width: 200px;
}

.table {
    display: table;
    font-family: Arial;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
    color: #11456b;
}

.table_leftcol {
    width: 60px;
    display: table-cell;
    font-weight: bold;
}

.table_rightcol {
    margin-left: 10px;
}

/*main-bottom*//***********************************************/

.bottom {
    width: 892px;
    height: 615px;
    margin: 20px auto;
    clear: both;
}

.bottom_left {
    width: 415px;
    margin-right: 19px;
    float: left;
}

.title_down {
    width: 415px;
    border-bottom: 2px #11456b solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.title_down_left {
    font-family: sans-serif;
    font-size: 42px;
    font-style: italic;
    color: #f5e327;
    margin-right: 20px;
}

.title, .title_down_right {
    font-family: sans-serif;
    font-size: 28px;
    color: #11456b;
    line-height: 32px;
}

.bottom_left_img {
    float: right;
    margin: 20px 0 20px 20px;
}

.bottom_right {
    width: 458px;
    float: right;
}

.bottom_right_img {
    width: 458px;
    height: 275px;
    position: relative;
}

.transparent_cover {
    width: 458px;
    height: 61px;
    background: #231815;
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    line-height: 61px;
    text-align: center;
    font-family: sans-serif;
    font-size: 24px;
    color: #ffffff;
}

.bottom_down {
    width: 458px;
    height: 318px;
    background-color: beige;
    margin-top: 20px;
    padding-top: 10px;
}

blockquote {
    border: 0;
    position: relative;
    margin: 1em;
    padding: 2em 2em 0.5em 2em;
}

blockquote:before {
    font-family: 'Alice', sans serif;
    position: absolute;
    font-size: 5em;
    line-height: 1;
    top: 0.2em;
    left: 0;
    content: "\201C";
    color: #333333;
}

blockquote:after {
    font-family: 'Alice', sans serif;
    position: absolute;
    float: right;
    font-size: 5em;
    line-height: 1;
    right: 0;
    bottom: -0.5em;
    content: "\201D";
    color: #333333;
}

.quote {
    font-family: 'Alice', sans serif;
    font-size: 1.5vw;
    color: #333333;
}

.author {
    font-family: 'Alice', sans serif;
    font-size: 1.5vw;
    color: #777777;
    padding-top: 10px;
    margin-right: 10px;
    float: right;
}

/*footer*//***********************************************/

footer {
    width: 892px;
    height: 50px;
    margin: 20px auto;
    border-top: 1px #938e8c solid;
    clear: both;
    position: relative;
}

footer span {
    font-size: 12px;
    font-family: sans-serif;
    color: #d45d5c;
    position: absolute;
    right: 0;
    top: 5px;
}