* {
    margin: 0;
    padding: 0;
}

.container {
    width: 980px;
    height: 1386px;
    background-color: white;
}

/*header*//***********************************************/
.header_top {
    width: 892px;
    height: 61px;
    border-bottom: 2px #938e8c solid;
    margin: 0 auto;
    position: relative;
}

.header_bg {
    width: 110px;
    height: 61px;
    background-color: #d45d5c;
}

.site {
    font-size: 12px;
    font-family: "SimHei";
    color: #ffffff;
    position: absolute;
    margin-left: 5px;
    bottom: 5px;
}

.date {
    font-size: 12px;
    font-family: "SimHei";
    color: #d45d5c;
    position: absolute;
    right: 0;
    bottom: 5px;
}

/*main*//***********************************************/
.top {
    width: 892px;
    height: 301px;
    margin: 20px auto;
}

.middle {
    width: 641px;
    margin-left: 44px;
    margin-top: 30px;
    margin-bottom: 50px;
    position: relative;
}

.text1 {
    width: 30%;
    float: left;
}


.text3 {
    width: 30%;
    float: right;
}

.text2 {
    width: 30%;
    margin: 0 218px;
}

main h3 {
    font-family:sans-serif;
    font-size: 16px;
    font-weight: 900;
    text-decoration: underline;
    margin-bottom: 10px;
    color: #d45d5c;
}

main p {
    font-family: Arial;
    font-size: 12px;
    line-height: 16px;
    text-align: justify;
}

.bottom {
    width: 892px;
    height: 301px;
    margin: 20px auto;
}

.bottom_left {
    width: 415px;
    margin-right: 19px;
    float: left;
}

.title_down {
    width: 415px;
    border-bottom: 2px #11456b solid;
}

.sunflower {
    float: right;
}

.bottom_right {
    width: 458px;
    float: right;
}

.bottom_down {
    width: 458px;
    height: 318px;
    background-color: beige;
    margin-top: 20px;
}

/*footer*//***********************************************/

footer {
    width: 892px;
    height: 50px;
    margin: 20px auto;
    border-top: 1px #938e8c solid;
    clear: both;
    position: relative;
}

footer span {
    font-size: 12px;
    font-family: "SimHei";
    color: #d45d5c;
    position: absolute;
    right: 0;
    top: 5px;
}