* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: white;
}

/*main*//***********************************************/
main, #left, #right, #center {
    border: 1px solid #999;
}

main {
    height: 100%;
    width: 100%;
    margin: 20px auto;
    background-color: #eee;
    padding: 20px 10px;
}

#left {
    width: 200px;
    float: left;
    background-color: white;
    padding: 20px 20px;
}

#right {
    width: 120px;
    float: right;
    background-color: white;
    padding: 5px 20px;
}

#center {
    height: 500px;
    margin: 0 180px 0 270px;
    background-color: white;
    padding: 20px 20px;
}

figure {
    border: 1px solid #999;
    padding: 5px;
    width: 180px;
    height: 250px;
    margin-left: 10px;
}

figure img {
    width: 100%;
}

figcaption {
    text-align: center;
    padding: 0 10px 10px 10px;
    margin: 5px 0 10px 0 ;
    font-size: large;
}

.cat {
    display: block;
    width: 100px;
    height: 100px;
    border: 1px solid #999;
    margin: 20px auto;
}

.cat:hover {
    border: 1px solid #777;
}