* {
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    height: 200px;
    background-color: #ccc;
}

.left_sector {
    width: 50px;
    height: 50px;
    border-radius: 0 0 50px 0;
    background-color: #fc0;
}

.right_sector {
    width: 50px;
    height: 50px;
    border-radius: 50px 0 0 0;
    background-color: #fc0;
}